html(lang="en")
    head
        include head.pug
    body
        - var indexPageActive = 'active'
        include nav.pug 

        div(class="container")
            h1=message
            div.mb-5
                span=secondaryMessage

            <form method="GET" action="/">
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <label for="ticker" class="col-sm-2 col-form-label">Ticker:</label>
                    </div>
                    <div class="col-sm-4">
                        //- <input type="text" id="ticker" name="t" class="form-control" aria-describedby="tickerHelp" value=ticker>
                        input.form-control(type='text' id='ticker' name='t' aria-describedby="tickerHelp" value=ticker)
                    </div>
                    <div class="col-sm-3">
                        <span id="tickerHelp" class="form-text">It can be any stock ticker symbol. Or for Crypto just use "BTC" "ETH" etc..</span>
                    </div>
                    <input type="hidden" name="c" value="USD"/>
                </div>
                
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <label for="tickerType" class="col-sm-2 col-form-label">Type:</label>
                    </div>
                    <div class="col-sm-4">
                        select.form-select(name='type' id='tickerType' aria-describedby='tickerTypeHelp')
                            option(value='stocks', selected=(tickerType == 'stocks')) Stocks
                            option(value='crypto', selected=(tickerType == 'crypto')) Crypto
                    </div>
                    <div class="col-sm-3">
                        <span id="tickerTypeHelp" class="form-text">Stocks or Crypto, based on the ticker you enter.</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-2">
                        <label for="tickerType" class="col-sm-2 col-form-label">Investment horizon(#days):</label>
                    </div>
                    <div class="col-sm-4">
                        input#horizon.form-control(type='text' name='h' aria-describedby='horizonHelp' value=horizon)
                    </div>
                    <div class="col-sm-3">
                        <span id="horizonHelp" class="form-text">Buy confidence is relative to past event. This is number of days in the past you want to look into. Try something like 365-720 (1-2 years) to get better sample data of the price.</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-2">
                        <label for="tickerType" class="col-sm-2 col-form-label">Choose Algorithm (s):</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-select" multiple name="algoIds">
                            <option value="buy-the-dip" selected>Buy Low</option>
                            <option value="sell-the-peak">Sell High</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <span id="horizonHelp" class="form-text">Pick one or more algorithms. All selected algorithms will be executed on the stock/crypto.</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" value="Analyze" class="btn btn-primary"/> 
                    </div>

                    <div class="col-sm-3">
                        <span class="form-text">First load the ticker and then hit "Get Confidence" to calculate buy confidence.</label>
                    </div>
                </div>

            </form>

            //- <button id="conf" class="btn btn-secondary"> Get Confidence </button>

            <div class="d-flex justify-content-center bg-light mt-5">
                <div class="pt-4">
                    <h4 style="text-align: center;">Buy Confidence <span id="conf-ticker"></span> </h4>
                    <p style="font-size: 40px; font-weight: 700; text-align: center;" id="conf-value">..</p>
                    <p style="text-align: center;">Confidence depends on the time period you choose as well as intensity and momentum of the dips compared to previous dips in that timeframe.</p>
                </div>
            </div>

            <figure class="highcharts-figure">
                <div id="container"></div>
                <p class="highcharts-description">
                </p>
            </figure>

            include donation.pug
            include disclaimer.pug 

    include footer.pug
