<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Trading<span style="color:red">Bot<span style="color:#777">X</span></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link #{indexPageActive}" aria-current="page" href="/">Quick Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link #{watchlistPageActive}" aria-current="page" href="/watchlists">Watchlists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link #{tradingPageActive}" aria-current="page" href="/tradingbot">Trading Bot 🤖</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link #{automationPageActive}" aria-current="page" href="/automation">Automation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link #{backtestPageActive}" aria-current="page" href="/backtest">Backtest</a>
                </li>
                if isAuth
                    <li class="nav-item">
                        <a class="nav-link #{accountPageActive}" aria-current="page" href="/account">Account</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link #{algoRepoPageActive}" aria-current="page" href="/algorepo">Algorithms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link #{loginPageActive}" aria-current="page" href="/login">
                    if isAuth
                        span="Logged in"
                    else
                        span="Login"
                    </a>
                </li>
                <li class="nav-item">
                    <div class="row nav-link">
                        <div class="col">
                            <div class="form-check form-switch" id="livemoneytogglediv">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Live Money</label>
                                <input class="form-check-input" type="checkbox" id="livemoneytoggle">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>