<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        a.navbar-brand(hred='/')=navTitle
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link #{indexPageActive}" aria-current="page" href="/">Quick Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link #{portfolioPageActive}" aria-current="page" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link #{tradingPageActive}" aria-current="page" href="/tradingbot">Trading Bot 🤖</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link #{loginPageActive}" aria-current="page" href="/login">
                    if tokens
                        span="Logged in"
                    else
                        span="Login"
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>