html(lang="en")
    head
        include head.pug
    body
        - var tradingPageActive = 'active'
        include nav.pug
 
        div(class="container")
            h1="Trading Bot"
            <span>Trading Bot finds attractive stocks on demand and buys or sells them automatically on your behalf.</span> <br/><br/>

            if isAuth
                <form method="POST" action="/" id="startbot">
                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <label for="tickerSelection" class="col-sm-2 col-form-label">Watchlist:</label>
                        </div>
                        <div class="col-sm-4" aria-describedBy="tickerSelectionHelp">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="popular" checked id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <span>Choose a list:</span>
                                    </label>
                                </div>

                                <select name="list" class="form-select form-select-sm">
                                    each list in lists
                                        <option value="#{list.id}">#{list.name}</option>
                                </select>
                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <label for="tickers" class="col-sm-2 col-form-label">Or enter tickers:</label>
                        </div>
                        <div class="col-sm-4">
                            //- <input type="text" id="ticker" name="t" class="form-control" aria-describedby="tickerHelp" value=ticker>
                            input.form-control(type='text' id='tickers' name='tickers' aria-describedby="tickerHelp" value=tickers)
                        </div>
                        <div class="col-sm-3">
                            <span id="tickerHelp" class="form-text">Or enter your own list. Must be comma-seperated ticker symbols without any spaces.</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <label for="tickerType" class="col-sm-2 col-form-label">Investment horizon(#days):</label>
                        </div>
                        <div class="col-sm-4">
                            input#horizon.form-control(type='text' name='horizon' aria-describedby='horizonHelp' value="365")
                        </div>
                        <div class="col-sm-3">
                            <span id="horizonHelp" class="form-text">Buy confidence is relative to past price patterns. This is number of days in the past you want to look into the past. Try something like 365-720 (1-2 years) to get better sample data of the price.</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <label for="tickerType" class="col-sm-2 col-form-label">Minimum $/trade:</label>
                        </div>
                        <div class="col-sm-4">
                            input#horizon.form-control(type='text' name='minBuyAmount' aria-describedby='horizonHelp' value="60")
                        </div>
                        <div class="col-sm-3">
                            <span id="horizonHelp" class="form-text">Minimum amount($) to buy per trade. Final investment amount is weighted based on the buy signal.</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <label for="tickerType" class="col-sm-2 col-form-label">Maximum $/trade:</label>
                        </div>
                        <div class="col-sm-4">
                            input#horizon.form-control(type='text' name='maxBuyAmount' aria-describedby='horizonHelp' value="100")
                        </div>
                        <div class="col-sm-3">
                            <span id="horizonHelp" class="form-text">Maximum amount($) to buy per trade. Final investment amount is weighted based on the buy signal.</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <label for="tickerType" class="col-sm-2 col-form-label">Choose an algorithm:</label>
                        </div>
                        <div class="col-sm-4">
                        <select class="form-select" name="algoId">
                            <option value="buy-the-dip" selected>Buy Low</option>
                            <option value="sell-the-peak">Sell High</option>
                        </select>
                        </div>
                        <div class="col-sm-3">
                            <span id="horizonHelp" class="form-text">Pick an algorithm to find the buy/sell/hold opportunities.</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-primary" id="submit-button">
                            <span class="spinner-border spinner-border-sm" role="status" style='display:none' id='spinner'></span>
                            <span>Find Opportunities</span>
                            </button> 
                        </div>
                    </div>

                    <input type="hidden" name="indicator" value="0"/>
                    <input type="hidden" name="minIndicatorValue" value="80"/>
                    <input type="hidden" name="maxIndicatorValue" value="100"/>
                </form>
                
                <div id="result-message" class="alert alert-secondary" role="alert">Your trades will appear below: </div>
                <div class="container-fluid p-10 m-20">
                    <div class="row-fluid mb-10 pb-10">
                        <button type="button" class="btn btn-success mb-10" id="submit-trades-button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" style='display:none' id='submit-trades-spinner'></span>
                            <span>Submit Orders</span>
                        </button> 
                    </div>

                    <table class="table table-striped table-hover table-sm table-responsive-sm mt-3" id="result-table">
                        <thead>
                            <tr>
                                <th>Ticker</th>
                                <th>Price</th>
                                <th>Buy Confidence</th>
                                <th>Type</th>
                                <th>Select to trade</th>
                                <th>Order Submitted</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            else 
                <div class="alert alert-primary" role="alert">
                    <span>To access trading page, you need to <a href='/login'>login</a> first.</span>
                </div>

            include donation.pug
            include disclaimer.pug
    include footer.pug